<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.mapper.statistics.MonitorStatsMapper">
	
	<!-- 统计检测器分类数量 -->
	<select id="statsProbeCatalogCount" resultType="java.util.HashMap" parameterType="java.lang.Integer">
		select count(*) as num, probe.catalog as kind
		from db_vibe_monitor.t_probe probe,db_vibe_basic.t_code code where probe.catalog = code.id and code.catalog = #{catalog}
		<!-- where (id >> 16) = #{siteId} -->
		group by probe.catalog 
		order by probe.catalog 
	</select>
	
	<!-- 查出所有监测器 -->
	<select id="queryAllProbe" resultType="java.util.HashMap">
	select p.id as monitorId, p.catalog, p.caption from db_vibe_monitor.t_probe p left join 
db_vibe_monitor.t_probe_energy e on p.id = e.probe_id where e.value_type=0
		<!-- select id as monitorId, catalog, caption from db_vibe_monitor.t_probe left --> 
<!-- 		where (id >> 16) = #{siteId} -->
	</select>

	<!-- 统计设备启用年度数量 -->
	<select id="statsDeviceEnabledYears" resultType="java.util.HashMap">
		 select year(enabing_date) as eyear, count(*) as num 
		 from db_vibe_monitor.t_device_detail 
		 group by eyear 
		 order by eyear
	</select>
	
	<!-- 根据监测器类型获取监测器详情 -->
	<!-- <select id="queryByType" resultType="java.util.HashMap">
		select id as monitorId, caption from db_vibe_monitor.t_probe
		where catalog = #{catalog} order by catalog
	</select> -->
	<!-- <select id="queryByType" resultType="java.util.HashMap">
		SELECT p.id as monitorId, p.caption FROM db_vibe_monitor.t_probe p LEFT
		JOIN db_vibe_basic.t_code
		c ON p.catalog = c.id WHERE p.name = #{name}
		AND c.catalog = #{code_catalog}
	</select> -->
	
	<select id="queryByType" resultType="java.util.HashMap">
		SELECT p.id as monitorId, p.caption FROM db_vibe_monitor.t_probe p LEFT
		JOIN db_vibe_basic.t_code
		c ON p.catalog = c.id WHERE c.name = #{name}
		and c.catalog = #{code_catalog}
	</select>
	
</mapper>