<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.mapper.energy.EnergyCountMapper">
    <select id="queryEnergyCountByProbeId" parameterType="map" resultType="com.vibe.pojo.energy.EnergyCountOne">
        select

        (amountValue) as avg,s.caption,d.moment,t.unit

        from
        db_vibe_data.t_sample_float_day d
        left join db_vibe_monitor.t_probe_energy e on d.monitor=e.probe_id
        left join db_vibe_monitor.t_probe p on d.monitor=p.id
        left join db_vibe_basic.t_code t on t.id=e.itemize_type
        left join db_vibe_monitor.t_space s on p.parent=s.id
        where s.id = #{parent}
        and d.moment like #{date}
        and e.value_type=1
        and e.itemize_type=#{type}
        <!-- and d.monitor in
        <foreach collection="lightList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach> -->
        order by (moment)
    </select>
    <select id="queryEnergyCountByProbeIdUnit" parameterType="map" resultType="java.lang.String">
        select

        t.unit

        from db_vibe_data.t_sample_float_day d left join db_vibe_monitor.t_probe_energy e on d.monitor=e.probe_id
        left join db_vibe_monitor.t_probe p on d.monitor=p.id left join db_vibe_basic.t_code t on t.id=e.itemize_type
        left join db_vibe_monitor.t_space s on p.parent=s.id
        where e.value_type=1 and d.monitor in
        <foreach collection="lightList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and d.moment like #{date}

        and s.id in
        <foreach collection="idParentList" item="parent" open="(" close=")" separator=",">
            #{parent}
        </foreach>

        group by(unit)
    </select>
    <select id="queryEnergyCountByProbeIdFloor" parameterType="map" resultType="java.lang.String">
        select
        s.caption

        from db_vibe_data.t_sample_float_day d left join db_vibe_monitor.t_probe_energy e on d.monitor=e.probe_id
        left join db_vibe_monitor.t_probe p on d.monitor=p.id left join db_vibe_basic.t_code t on t.id=e.itemize_type
        left join db_vibe_monitor.t_space s on p.parent=s.id
        where e.value_type=1 and d.monitor in
        <foreach collection="lightList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and d.moment like #{date}

        and s.id in
        <foreach collection="idParentList" item="parent" open="(" close=")" separator=",">
            #{parent}
        </foreach>

        group by(unit)
    </select>

    <select id="queryNightEnergyCountByProbeId" parameterType="map" resultType="com.vibe.pojo.energy.EnergyCountOne">
        select
        d.monitor,
        d.moment,
        sum(d.avg) AS avg,
        e.itemize_type,
        t.name,
        s.caption,
        t.unit,
        p.parent
        from db_vibe_data.t_sample_float_hour d
        left join db_vibe_monitor.t_probe_energy e on d.monitor=e.probe_id
        left join db_vibe_monitor.t_probe p on d.monitor=p.id
        left join db_vibe_basic.t_code t on t.id=e.itemize_type
        left join db_vibe_monitor.t_space s on s.id=p.parent

        where e.value_type=1 and d.monitor in
        <foreach collection="lightList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and d.moment &gt;= #{sTime} and d.moment &lt;= #{eTime}
        <if test="parent != null">
            and p.parent = #{parent}
        </if>
    </select>

    <select id="queryEnergyCountByProbeIdAvg" parameterType="map" resultType="java.lang.Double">
        select

        avg(amountValue) as avgNum

        from db_vibe_data.t_sample_float_day d
        left join db_vibe_monitor.t_probe_energy e on d.monitor=e.probe_id
        left join db_vibe_monitor.t_probe p on d.monitor=p.id
        left join db_vibe_basic.t_code t on t.id=e.itemize_type
        left join db_vibe_monitor.t_space s on p.parent=s.id
        where s.id = #{parent}
        and e.value_type=1
        and d.moment like #{date}
        and e.itemize_type=#{type}
        <!-- and d.monitor in
        <foreach collection="lightList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach> -->
    </select>
    <select id="queryEnergyCountByMonitorId" resultType="java.lang.Integer">
        select p.id

        from db_vibe_monitor.t_probe p
        left join db_vibe_monitor.t_space s on p.parent=s.id
        left join db_vibe_monitor.t_probe_energy e on p.id=e.probe_id
        left join db_vibe_basic.t_code t on t.id=e.itemize_type
        left join db_vibe_monitor.t_asset_prop o on o.asset=p.id
        where e.itemize_type = #{type} and o.name = "AmountOfChange";
    </select>

    <select id="queryNightEnergyCountByProbeIdAvg" parameterType="map" resultType="com.vibe.pojo.energy.EnergyCountOne">

        select
        d.monitor ,
        avg(d.avg ) as avgNumNight
        from db_vibe_data.t_sample_float_hour d
        left join db_vibe_monitor.t_probe_energy e on d.monitor=e.probe_id
        left join db_vibe_monitor.t_probe p on d.monitor=p.id
        left join db_vibe_basic.t_code t on t.id=e.itemize_type
        left join db_vibe_monitor.t_space s on s.id=p.parent
        where d.monitor in
        <foreach collection="lightList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and d.moment &gt;= #{sTime} and d.moment &lt;= #{eTime}
        and e.value_type=1
        and s.id = #{parent}
        group by(d.monitor);
    </select>
    <select id="queryEnergyCountByProbeIdParent" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        g.id
        from db_vibe_monitor.t_space g
        <where>
            <choose>
                <when test="parent == 0">
                    g.parent = #{parent} or g.parent =1
                </when>
                <otherwise>
                    g.id = #{parent} or g.parent=#{parent}
                </otherwise>
            </choose>
        </where>
        ORDER BY g.id , g.name desc
    </select>
    <select id="queryEnergyCountByIdOfHour" parameterType="map" resultType="com.vibe.pojo.energy.EnergyCountOne">
        select

        (amountValue) as avg,s.caption,d.moment

        from db_vibe_data.t_sample_float_hour d
        left join db_vibe_monitor.t_probe_energy e on d.monitor=e.probe_id
        left join db_vibe_monitor.t_probe p on d.monitor=p.id
        left join db_vibe_basic.t_code t on t.id=e.itemize_type
        left join db_vibe_monitor.t_space s on p.parent=s.id
        where s.id = #{parent}
        and e.value_type=1
        and e.itemize_type=#{type}
        <!-- and d.monitor in
        <foreach collection="lightList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach> -->
        and (d.moment between #{startTime} and #{firstDayNext})
        order by (moment)
    </select>


    <select id="getEnergyAllRank" resultType="com.vibe.pojo.energy.Energy" statementType="STATEMENT">
        SELECT
        d.avg value,t.name,t.unit
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.parent = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        <where>
            t.`name` is not null and e.value_type=1
            <choose>
                <when test="redioType != 0">
                    and d.moment between '${startTime}' and '${lastTime}'
                </when>
                <otherwise>
                    AND d.moment LIKE '${startTime}%'
                </otherwise>
            </choose>
        </where>
        GROUP BY
        t.NAME
        ORDER BY
        d.avg ASC
    </select>


    <select id="getEnergySpaceBiao" resultType="com.vibe.pojo.energy.Energy" statementType="STATEMENT">
        SELECT
        truncate(amountValue,2) as value,
        d.moment as time,
        t.unit as unit,s.caption as floor,t.name
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.id = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        <where>
            e.value_type=1 and
            p.parent = ${id}
            <!-- <foreach collection="idList" item="id" separator="," open="(" close=")">
            ${id}
        </foreach> -->
            and itemize_type = ${catalog}
            <choose>
                <when test="redioType != 0">
                    and d.moment between '${startTime}' and '${lastTime}'
                </when>
                <otherwise>
                    and d.moment like '${startTime}%'
                </otherwise>
            </choose>
        </where>
        ORDER BY
        d.moment ASC
    </select>
    <select id="getParentCatalog" resultType="java.lang.Integer" statementType="STATEMENT">
        select parent
        from
        db_vibe_basic.t_code
        where id=${catalog}
    </select>
    <select id="getEnergySum" resultType="Double" statementType="STATEMENT">
        SELECT
        COALESCE(sum(amountValue),0) as value
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.id = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        <where>
            s.parent = 0 and e.value_type=1
            <!-- <foreach collection="idList" item="id" separator="," open="(" close=")">
            ${id}
        </foreach> -->
            and itemize_type = ${parentCatalog}
            <choose>
                <when test="redioType != 0">
                    and d.moment between '${startTime}' and '${lastTime}'
                </when>
                <otherwise>
                    and d.moment like '${startTime}%'
                </otherwise>
            </choose>
        </where>

    </select>


    <select id="getEnergyA3Floorid" resultType="com.vibe.pojo.energy.Energy">

        /*SELECT t.id as floorId,t.caption as floor FROM db_vibe_monitor.t_space t where parent = 1 or t.id =1;*/
        SELECT t.id as floorId,t.caption as floor,t.parent parentId FROM db_vibe_monitor.t_space t order by t.seqence;
    </select>
    <select id="getEnergyComAndSeq" resultType="com.vibe.pojo.energy.ComSeqEnergy" statementType="STATEMENT">

        SELECT
        sum(amountValue) as dqzh,d.moment as date
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.id = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        where
        <!-- s.parent =  1 and  -->
        s.id= ${floorId} and e.value_type=1
        and itemize_type = ${catalog}
        <!-- 	     and d.moment between '2019-02-01' and '2019-04-01' GROUP BY d.moment -->
        <choose>
            <when test="redioType != 0">
                and d.moment between '${startTime}' and '${lastTime}'
            </when>
            <otherwise>
                and d.moment like '${startTime}%'
            </otherwise>
        </choose>
        group by d.moment
    </select>
    <select id="getUnit" resultType="String" statementType="STATEMENT">
        SELECT t.unit from db_vibe_basic.t_code t where id =${catalog}
    </select>
    <select id="getEnergyType" resultType="com.vibe.pojo.energy.Energy" statementType="STATEMENT">

        SELECT
        (amountValue) as value,d.moment as time,t.unit as unit,
        t.name,s.caption as floor
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.id = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        where s.id= ${floorId} and e.value_type=1
        and itemize_type = ${catalog}
        <choose>
            <when test="redioType != 0">
                and d.moment between '${startTime}' and '${lastTime}'
            </when>
            <otherwise>
                and d.moment like '${startTime}%'
            </otherwise>
        </choose>
        group by d.moment

    </select>

    <select id="getEnergyTypeSum" resultType="Double" statementType="STATEMENT">
        SELECT
        COALESCE(sum(amountValue),0)
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.id = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        where s.id= ${floorId}
        and itemize_type = ${itemize_type} and e.value_type=1
        <choose>
            <when test="redioType != 0">
                and d.moment between '${startTime}' and '${lastTime}'
            </when>
            <otherwise>
                and d.moment like '${startTime}%'
            </otherwise>
        </choose>
        group by d.moment

    </select>

    <select id="getEnergyFenShiTu" resultType="com.vibe.pojo.energy.EnergyCount" statementType="STATEMENT">
        SELECT
        truncate(sum(amountValue),2) AS value ,d.moment AS Time ,t.unit
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.id = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        where s.id= ${floor}
        and itemize_type = ${catalog} and e.value_type=1
        <choose>
            <when test="redioType != 0">
                and d.moment between '${startTime}' and '${lastTime}'
            </when>
            <otherwise>
                and d.moment like '${startTime}%'
            </otherwise>
        </choose>
        group by d.moment

    </select>

    <select id="getEnergyFenShiBiao" resultType="com.vibe.pojo.energy.EnergyBiao" statementType="STATEMENT">
        SELECT
        (amountValue) AS yongdianlaing ,d.moment AS shijian
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.id = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        where s.id= ${floor}
        and itemize_type = ${catalog} and e.value_type=1
        <choose>
            <when test="redioType != 0">
                and d.moment between '${startTime}' and '${lastTime}'
            </when>
            <otherwise>
                and d.moment like '${startTime}%'
            </otherwise>
        </choose>
        group by d.moment
        <choose>
            <when test="seq == 0">
                order by d.moment ${rank}
            </when>
            <when test="seq == 1">
                order by yongdianlaing ${rank}
            </when>
        </choose>

    </select>
    <select id="getEnergyFenXiangTu" resultType="com.vibe.pojo.energy.Energy" statementType="STATEMENT">
        SELECT
        truncate(sum(amountValue),2) AS value ,t.unit,t.name
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.id = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        where s.id= ${floor}
        and t.parent = ${catalog} and e.value_type=1
        <choose>
            <when test="redioType != 0">
                and d.moment between '${startTime}' and '${lastTime}'
            </when>
            <otherwise>
                and d.moment like '${startTime}%'
            </otherwise>
        </choose>
        group by t.id order by value asc
    </select>
    <select id="getEnergyFenXiangBiao" resultType="com.vibe.pojo.energy.EnergySub" statementType="STATEMENT">
        SELECT
        sum(amountValue) AS value ,t.unit,t.name
        FROM
        db_vibe_data.${tableName} d
        LEFT JOIN db_vibe_monitor.t_probe_energy e ON d.monitor = e.probe_id
        LEFT JOIN db_vibe_monitor.t_probe p ON d.monitor = p.id
        LEFT JOIN db_vibe_basic.t_code t ON t.id = e.itemize_type
        LEFT JOIN db_vibe_monitor.t_space s ON p.parent = s.id
        where s.id= ${floor}
        and t.parent = ${catalog} and e.value_type=1
        <choose>
            <when test="redioType != 0">
                and d.moment between '${startTime}' and '${lastTime}'
            </when>
            <otherwise>
                and d.moment like '${startTime}%'
            </otherwise>
        </choose>
        group by t.id order by value asc
    </select>
    <select id="getBaseRepresentationNumberElec" resultType="com.vibe.pojo.energy.BaseRepresentationNumber"
            statementType="STATEMENT">
        SELECT f.moment as time,f.value as value,p.caption as name,s.caption
        FROM
        db_vibe_data.t_sample_float f
        LEFT JOIN db_vibe_monitor.t_probe p on f.monitor=p.id
        LEFT JOIN db_vibe_monitor.t_device d on d.id = p.parent
        LEFT JOIN db_vibe_monitor.t_space s on s.id = d.parent
        LEFT JOIN db_vibe_monitor.t_probe_energy e on e.probe_id = p.id
        where e.value_type=0 and f.moment BETWEEN '${startTime}' and '${endTime}'
        and p.catalog = ${catalog}
        <!-- and p.source &lt;&gt; '' -->
        and e.meter_type=0
        ORDER BY f.monitor,f.moment

        <!-- SELECT f.moment as time,f.value as value,f.caption as name,s.caption
        from
            (SELECT *
            FROM  db_vibe_data.t_sample_float f
            LEFT JOIN db_vibe_monitor.t_probe p on f.monitor=p.id
            where  catalog = ${catalog} and moment BETWEEN '${startTime}' and '${endTime}'
                   and exists
                   (select probe_id from db_vibe_monitor.t_probe_energy where value_type=0 and meter_type=0 and probe_id = f.monitor)
            ) f
         LEFT JOIN db_vibe_monitor.t_device d on d.id = f.parent
         LEFT JOIN  db_vibe_monitor.t_space s on s.id = d.parent
          ORDER BY monitor,moment -->
    </select>

    <select id="getBaseRepresentationNumberWater" resultType="com.vibe.pojo.energy.BaseRepresentationNumber"
            statementType="STATEMENT">
        SELECT f.moment as time,f.value as value,p.caption as name,s.caption
        FROM
        db_vibe_data.t_sample_float f
        LEFT JOIN db_vibe_monitor.t_probe p on f.monitor=p.id
        LEFT JOIN db_vibe_monitor.t_space s on s.id = p.parent
        LEFT JOIN db_vibe_monitor.t_probe_energy e on e.probe_id = p.id
        where f.moment BETWEEN '${startTime}' and '${endTime}'
        and p.catalog = ${catalog} and e.value_type=0 and e.meter_type=0
        <!-- and p.source &lt;&gt; '' -->
        ORDER BY f.monitor,f.moment

        <!-- SELECT f.moment as time,f.value as value,f.caption as name,s.caption,f.monitor
        from
            (SELECT *
            FROM  db_vibe_data.t_sample_float f
            LEFT JOIN db_vibe_monitor.t_probe p on f.monitor=p.id
            where  catalog = ${catalog} and moment BETWEEN '${startTime}' and '${endTime}'
            and exists (select probe_id from db_vibe_monitor.t_probe_energy where value_type=0 and meter_type=0 and probe_id = f.monitor)
            ) f
          LEFT JOIN  db_vibe_monitor.t_space s on s.id = f.parent
          ORDER BY monitor,moment -->
    </select>
    <select id="getLastNumber" resultType="com.vibe.pojo.energy.BaseNumber" statementType="PREPARED">
        select #{year} year,#{month} month ,p.name nameId ,p.caption name,p.id value
        from db_vibe_monitor.t_probe_energy en
        LEFT JOIN
        db_vibe_monitor.t_probe p on en.probe_id = p.id
        where en.value_type = 0 and p.catalog = #{catalog}
    </select>
    <select id="getValue" resultType="map" statementType="PREPARED">
        select f.value
        from
        db_vibe_data.t_sample_float f
        where f.moment BETWEEN #{startTime} and #{endTime} and f.monitor = #{monitor}
        ORDER BY f.moment desc LIMIT 1
    </select>

</mapper>



